*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #353434;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    background-color: #f0d8d8;
    border-radius: 10px;
    box-shadow: 0 0 20px #ce3434;
}
form{
    display: flex;
    flex-direction: column;
}
.user-box{
    padding: 20px;
    position: relative;
}
.user-box input{
    width: 100%;
    font-size: 18px;
    padding: 10px 0 5px 0;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
    background-color: transparent;
    transition: ease-in 0.2s;
}
.user-box label{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 18px;
    transition: top 200ms ease-in,
            font-size 200ms ease-in;
}
.user-box input:focus{
    border-bottom: 2px solid blueviolet;
}
.user-box input:focus ~ label,
.user-box input:not(:placeholder-shown).user-box input:not(:focus)~label{
    top: 0.3rem;
    font-size: 14px;
}