*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.login-box{
    padding: 40px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
form{
    display: flex;
    flex-direction: column;
}
.user-box{
    position: relative;
    margin-bottom: 30px;
}
.user-box input{
    width: 100%;
    padding: 13px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
    transition: border-color 0.2s;
}
.user-box input:focus,
.user-box input:valid { 
    border-color: #1e87f0;
}
.user-box label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    pointer-events: none;
    color: #777;
    transition: all 0.2s;
}
.user-box input:focus ~ label
/* .user-box input:valid ~ label */ {
    /* transform: translateX(-10px); */
    font-size: 12px;
    color: #1e87f0;
    top: -20;
} 
button{
    width: 100%;
    padding:10px 0 ;
    font-size: 18px;
    color: aliceblue;
    background-color: #1e87f0;
    border-radius: 10px;
    border: none;
    
}
button:hover{
    background-color: #0a66c2;
}